@using FinanceTrackerApplication.Areas.Identity.Data
@using FinanceTrackerApplication.Models
@model FinanceTrackerApplicationUser

@{
    ViewData["Title"] = "Dashboard";
    decimal Assets = 0;
    decimal Liabilities = 0;
    decimal TotalBalance = Assets - Liabilities;

    foreach (Account account in Model.Accounts)
    {
        if (account.AccountType == AccountType.Credit || account.AccountType == AccountType.Loan)
        {
            Liabilities += account.Balance;
        }
        else
        {
            Assets += account.Balance;
        }
    }

    TotalBalance = Assets + (-Liabilities);
}
    
@if(ViewData["Message"] != null){
    <div id="message" class="alert alert-success" role="alert">
        @ViewData["Message"]
    </div>
}

<div class="container-fluid m-0">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky mt-3 h-100 d-flex flex-column">
                <div class="ms-2">
                    <h3>Dashboard</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Accounts")">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Transactions")">
                                Transfer
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark disabled" href="#">
                                Budgets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark disabled" href="">
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Settings", "Home")">
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-primary col-12 mb-0 mt-3" href="@Url.Action("Create", "Transactions", new {optionSelected = 1} )">Quick Add</a>
            </div>
        </nav>

        <main role="main" class="bg-light col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
            <div id="AssetsLiabilitiesRow" class="row">
                <div class="col-md-4">
                    <div class="card text-center text-white bg-success mb-3">
                        <div class="card-header">
                            <h4>Total Assets</h4>
                        </div>
                        <div class="card-body">

                            <h3 class="card-title">$@Assets</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center text-white bg-primary mb-3">
                        <div class="card-header">
                            <h4>Total Liabilities</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">-$@Liabilities</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center text-white bg-secondary mb-3">
                        <div class="card-header">
                            <h4>Current Balance</h4>
                        </div>
                        <div class="card-body">
                            @if(TotalBalance < 0)
                            {
                            <h3 class="card-title">-$@Math.Abs(TotalBalance)</h3>
                            }
                            else
                            {
                                <h3 class="card-title">$@TotalBalance</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="card text-black bg-quartinary mb-3">
                        <div class="card-header d-flex align-content-center justify-content-between">
                            <h4 class=" w-75">Recent Transactions</h4>
                            <a asp-controller="transactions" asp-action="index" class="text-black"><i class="fa-solid fa-ellipsis mt-1"></i></a>
                        </div>
                        <div class="card-body h-25">
                            @if (ViewData["LastFiveTransactions"] != null)
                            {
                                <table class="w-100">
                                    <tr>
                                        <th>Transaction Desc.</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                    @foreach (var t in ViewData["LastFiveTransactions"] as List<Transaction>)
                                    {
                                    <tr class="rounded-2 mb-3">
                                        <td>@t.Description</td>
                                        @if (!t.IsInternalTransfer && t.AccountIntoId == null)
                                        {
                                            <td>-@t.Amount</td>
                                        }
                                        else
                                        {                
                                            <td>@t.Amount</td>
                                        }
                                        <td>@t.CreatedAt</td>
                                    </tr>
                                    }
                                </table>
                            }
                            else 
                            {
                                <p>No transactions found.</p>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-black bg-white mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <h4 class="">Account Balances</h4>
                            <a asp-controller="Accounts" asp-action="index" class="text-black"><i class="fa-solid fa-ellipsis mt-1"></i></a>
                        </div>
                        <div class="card-body">
                            <table class="w-100">
                                <tr>
                                    <th>Account Name</th>
                                    <th>Balance</th>
                                </tr>
                                @foreach (var a in Model.Accounts)
                                {
                                <tr class="fs-5">
                                    <td>@a.Name</td>
                                    @if(a.Balance < 0)
                                    {
                                        <td class="text-danger">@a.Balance</td>
                                    }
                                    else
                                    {
                                        <td class="text-success">@a.Balance</td>
                                    }
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@*//Quick Stats: Total Accounts, Most Recent Transaction, ComparativeCharts*@
@*//View of Accounts*@
@*     <section id="AccountSection">
        <h3>Welcome back, @Model.UserName,</h3>
        <h5>Here's a quick overview of your finances.</h5>
        <a class="float-end btn btn-primary m-1" href="@Url.Action("Create","Accounts")">Add Account</a>

        @if (Model.Accounts != null)
        {
            <section id="accountsSection">
                <h3 class="p-1">Accounts Overview</h3>
                @if (Model.Accounts.Any(a => a.IsAsset == true))
                {
                    <section class="d-flex justify-content-evenly pt-1, rounded-1">
                        <div class="col-6 p-1">
                            <h5 class="text-center text-light bg-success mb-1 rounded">Assets</h5>
                            @foreach (var a in Model.Accounts.Where(a => a.AccountType != AccountType.Credit || a.AccountType != AccountType.Credit))
                            {

                                <a class="text-decoration-none" href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <h5 class="card-title">@a.Name</h5>
                                            <p class="card-text">Balance: @a.Balance</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="col-6 p-1">
                            <h5 class="text-center text-light bg-danger mb-1 rounded">Liabilities</h5>
                            @foreach (var a in Model.Accounts.Where(a => a.IsAsset == false))
                            {
                                <a class="text-decoration-none" href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <h5 class="card-title">@a.Name</h5>
                                            <p class="card-text">Balance: @a.Balance</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </section>
                }
                else
                {
                    @foreach (var a in Model.Accounts)
                    {
                        <a href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@a.Name</h5>
                                    <p class="card-text">Balance: @a.Balance</p>
                                </div>
                            </div>
                        </a>
                    }
                }
                <a class="float-end" href="@Url.Action("Index","Accounts")">View All Accounts</a>
            </section>

            <a class="btn btn-primary col-12" href="@Url.Action("Create", "Transactions", new {optionSelected = 1} )">Quick Add</a>
        }

        else
        {
            <a class="float-end btn btn-primary m-1" href="@Url.Action("Create","Accounts")">Add Account</a>
            <h1>No Accounts</h1>
            @Html.ActionLink("Add Account", "Create", "Accounts")
        }
    </section>
 *@