@using FinanceTrackerApplication.Areas.Identity.Data
@using FinanceTrackerApplication.Models
@model FinanceTrackerApplicationUser

@{
    ViewData["Title"] = "Dashboard";
}
    
@if(ViewData["Message"] != null){
    <div id="message" class="alert alert-success" role="alert">
        @ViewData["Message"]
    </div>
}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky mt-3">
                    <div class="ms-2">
                        <h3>Dashboard</h3>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index","Accounts")">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Transactions")">
                                Transfer
                            </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark disabled" href="#">
                                Budgets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark disabled" href="">
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Settings", "Home")">
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header">
                                Total Balance
                            <i class="fa-solid fa-ellipsis"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">$10,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-header">Monthly Income</div>
                            <div class="card-body">
                                <h5 class="card-title">$5,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-header">Monthly Expenses</div>
                            <div class="card-body">
                                <h5 class="card-title">$3,000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header">Total Balance</div>
                            <div class="card-body">
                                <h5 class="card-title">$10,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-header">Monthly Income</div>
                            <div class="card-body">
                                <h5 class="card-title">$5,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-header">Monthly Expenses</div>
                            <div class="card-body">
                                <h5 class="card-title">$3,000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-primary mb-3">
                            <div class="card-header">Total Balance</div>
                            <div class="card-body">
                                <h5 class="card-title">$10,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-success mb-3">
                            <div class="card-header">Monthly Income</div>
                            <div class="card-body">
                                <h5 class="card-title">$5,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-white bg-danger mb-3">
                            <div class="card-header">Monthly Expenses</div>
                            <div class="card-body">
                                <h5 class="card-title">$3,000</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

@*//Quick Stats: Total Accounts, Most Recent Transaction, ComparativeCharts*@
@*//View of Accounts*@
@*     <section id="AccountSection">
        <h3>Welcome back, @Model.UserName,</h3>
        <h5>Here's a quick overview of your finances.</h5>
        <a class="float-end btn btn-primary m-1" href="@Url.Action("Create","Accounts")">Add Account</a>

        @if (Model.Accounts != null)
        {
            <section id="accountsSection">
                <h3 class="p-1">Accounts Overview</h3>
                @if (Model.Accounts.Any(a => a.IsAsset == true))
                {
                    <section class="d-flex justify-content-evenly pt-1, rounded-1">
                        <div class="col-6 p-1">
                            <h5 class="text-center text-light bg-success mb-1 rounded">Assets</h5>
                            @foreach (var a in Model.Accounts.Where(a => a.AccountType != AccountType.Credit || a.AccountType != AccountType.Credit))
                            {

                                <a class="text-decoration-none" href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <h5 class="card-title">@a.Name</h5>
                                            <p class="card-text">Balance: @a.Balance</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                        <div class="col-6 p-1">
                            <h5 class="text-center text-light bg-danger mb-1 rounded">Liabilities</h5>
                            @foreach (var a in Model.Accounts.Where(a => a.IsAsset == false))
                            {
                                <a class="text-decoration-none" href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <h5 class="card-title">@a.Name</h5>
                                            <p class="card-text">Balance: @a.Balance</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </section>
                }
                else
                {
                    @foreach (var a in Model.Accounts)
                    {
                        <a href="@Url.Action("Details", "Accounts", new { id = a.Id })">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">@a.Name</h5>
                                    <p class="card-text">Balance: @a.Balance</p>
                                </div>
                            </div>
                        </a>
                    }
                }
                <a class="float-end" href="@Url.Action("Index","Accounts")">View All Accounts</a>
            </section>

            <a class="btn btn-primary col-12" href="@Url.Action("Create", "Transactions", new {optionSelected = 1} )">Quick Add</a>
        }

        else
        {
            <a class="float-end btn btn-primary m-1" href="@Url.Action("Create","Accounts")">Add Account</a>
            <h1>No Accounts</h1>
            @Html.ActionLink("Add Account", "Create", "Accounts")
        }
    </section>
 *@